body {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  width: 400px;
  padding: 60px;
  border-radius: 10px;
  box-shadow: 0 4px 16px #ccc;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.form_input,
.form_button {
  font-family: sans-serif;
  letter-spacing: 1px;
  font-size: 15px;
}

.form__title {
  text-align: center;
  margin: 0 0 32px 0;
  font-weight: normal;
}

.form_group {
  position: relative;
  margin-bottom: 14px;
}

.form_input {
  width: 100%;
  padding: 0 0 10px 0;
  padding-bottom: 1px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  outline: none;
}

.form_input:focus {
  border-bottom: 1px solid #1a73a8;
}

.form_button {
  padding: 10px 20px;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: green;
  cursor: pointer;
}

.form_button_submit {
  padding: 13px 30px;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: purple;
  cursor: pointer;
}

.button_submit {
  display: flex;
  justify-content: center;
  gap: 27px;
  padding: 20px;

}

